.booking-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 50px;
  /* background-color: #f9f9f9; */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 600px;
  margin: 0 auto;
  color: #fff;
}

.booking-form {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon input[type="date"] {
  padding: 14px 40px;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
}


.calendar-icon {
  position: absolute;
  right: 44px;
  color: #fff;
  pointer-events: none;
  /* Чтобы иконка не перехватывала клики */
}

.form-group input[type="number"] {
  padding: 15px 15px;
  border: 1px solid #ccc;
  border-radius: 30px;

}

.order__wrapper {
  margin-top: 30px;
}

.order__btn {
  color: #fff;
  background-color: var(--btn-color);
  white-space: nowrap;
  padding: 20px 20px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.order__btn:hover {
  background-color: var(--btn-hover-color);
}

.order__btn:active {
  position: relative;
  top: 1px;
}

.order__btn p {}

@media (max-width: 1440px) {
  .booking-section {
    padding-top: 50px;
  }
}

@media (max-width: 900px) {
  .booking-form {
    flex-direction: column;
  }

  .order__btn {
    padding: 20px 45px;
  }
}

@media (max-width: 393px) {
  .booking-form {
    flex-direction: column;
  }

  .order__btn {
    padding: 20px 105px;
  }

  .input-with-icon input[type="date"] {
    padding: 14px 100px;
  }
  
  .calendar-icon {
    right: 100px;
  }
}