/* * * * HOME * * * */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minutes {
  color: var(--third-color);
  padding-top: 80px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 200;
}

.home__wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 270px;
  padding-bottom: 40px;
}

.home__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__name {
  color: var(--third-color);
  font-size: 38px;
  text-transform: uppercase;
}

.home__name span {
  color: var(--btn-color);
  text-transform: uppercase;
}

.home__btns {
  width: 425px;
  margin: 20px 0;
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.home__btn {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  background-color: var(--btn-color);
  padding: 15px 32px;
  border-radius: 15px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.home__btn:hover {
  background-color: var(--btn-hover-color);
}

.home__btn:active {
  position: relative;
  top: 1px;
}

.home__video-btn {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  color: var(--third-color);
  border: 1px solid var(--third-color);
  padding: 15px 32px;
  border-radius: 15px;
  cursor: pointer;
  transition: .2s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home__video-btn svg {
  width: 20px;
}

.home__video-btn:hover {
  background-color: var(--third-color);
  color: var(--first-color);
}

.home__video-btn:active {
  position: relative;
  top: 1px;
}

.home__description {
  color: var(--third-color);
  max-width: 450px;
  font-size: 23.2px;
  font-weight: 200;
  text-align: right;
  /* margin-top: 106px; */
}

.home__img {
  position: relative;
  /* Для позиционирования псевдоэлемента и ссылки */
  max-width: 1110px;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  aspect-ratio: 16 / 10;
  overflow: hidden;
  /* Скрываем всё, что выходит за границы */
}

/* Псевдоэлемент для фонового изображения */
.home__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/apartment/main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  transition: transform 0.5s ease;
  /* Плавный переход для зума */
  z-index: 1;
  /* Фон ниже ссылки */
}

/* Увеличение фона при наведении */
.home__img:hover::before {
  transform: scale(1.1);
  /* Увеличиваем фон на 10% */
}

.home__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 200;
  color: var(--text-color);
  background-color: rgb(42 44 47 / 63%);
  border-radius: 30px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease-in-out;
  z-index: 2;
}

.home__link:hover {
  background-color: rgba(42, 44, 47, .8);
}

.home__link span {
  color: var(--first-color);
  font-weight: 300;
}

.location__wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 90px;
}




.booking-form {
  display: flex;
  gap: 15px;
  padding-top: 15px;
  flex-direction: column;
}



/* MODAL-WINDOW */

.home-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: .5s linear;
  color: #fff;
}



@keyframes slideIn {
  from {
    transform: translateY(-100px)
  }

  to {
    transform: translateY(0);
  }
}

.home-modal-content {
  position: relative;
  background: var(--modal-background);
  /* box-shadow: 
    15px 0 15px rgba(176, 142, 106, 0.5),
    20px 0 30px rgba(176, 142, 106, 0.3),
    0 10px 50px rgba(0, 0, 0, 0.9); */
  padding: 20px;
  border-radius: 40px;
  max-width: 90%;
  animation: slideIn 0.9s forwards;
}

.home-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.home-modal-close:hover {
  color: #666;
}

.location {
  display: flex;
  height: 0;
}

iframe {
  width: 1000px;
  height: 700px;
}

@media only screen and (max-width: 1440px) {
  iframe {
    width: 700px;
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .home__wrapper {
    justify-content: space-between;
    gap: unset;
  }

  .minutes {
    font-size: 12px;
  }

  .home__name {
    font-size: 40px;
  }

  .home__btn,
  .home__video-btn {
    padding: 15px 23px;
    font-size: 13px;
  }

  .home__description {
    /* max-width: 617px; */
    font-size: 18px;
    margin-top: 10px;
  }

  .home__img {
    width: 100%;
  }

  .home__link {
    font-size: 32px;
  }
}


@media (max-width: 950px) and (min-width: 860px) {
  .home__img {
    width: 100%;
  }
}

@media (max-width: 860px) and (min-width: 600px) {
  .home__action {
    align-items: center;
  }

  .home__img {
    width: 100%;
  }

  .home__wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .minutes {
    display: none;
  }

  .home__description {
    text-align: center;
  }

  .home__btns {
    width: unset;
  }
}



@media (max-width: 600px) {

  .minutes {
    text-align: center;
  }

  .home__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .home__name {
    font-size: 40px;
    margin: 0 auto 20px;
  }

  .home__btns {
    justify-content: center;
    margin: 0 auto;
  }

  .home__description {
    display: none;
  }

  .home__img {
    width: 100%;
  }

  .home__link {
    font-size: 24px;
  }
  
  .home__description {
    display: none;
  }

  .home__img {
    width: 100%;
  }

  .home__link {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .home__description {
    display: none;
  }
}

@media (max-width: 393px) {

  .container {
    padding: unset;
  }

  .home__wrapper{
    padding-bottom: 20px;
  }

  .home__action {
    width: 100%;
    align-items: center;

  }

  .minutes {
    font-size: 15px;
  }

  .home__name {
    font-size: 66px;
    text-align: center;
  }

  .home__name span {
    font-size: 73px;
  }

  .home__btns {
    width: unset;
  }

  .home__btn {
    padding: 24px 85px;
    font-size: 20px;
  }

  .home__video-btn {
    display: none;
  }

  .home__description {
    display: none;
  }

  .home__img {
    /* width: 100%; */
    width: 350px;
    height: 300px;
  }

  .home__link {
    font-size: 28px;
  }

  .home__link span {
    font-size: 18px;
  }

  .home-modal-content {
    width: 370px;
    
  }

  .booking-section {
    width: 100px;
  }

  .home-modal-content {
    width: unset;
  }
}