.gallery {
  padding: 40px;
}

.section-title {
  font-size: 25px;
  font-weight: 700;
  color: var(--third-color);
  text-transform: uppercase;

  margin-bottom: 60px;
}

.slider {
  margin: 60px auto;
  max-width: 100%;
}

.slick-list {
  border-radius: 20px;
}

.slider-item {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.slider-item img {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  transition: transform 0.8s ease-in-out;
}

.slider-item:hover img {
  transform: scale(1.1);
}

/* стрелки */

.slick-prev,
.slick-next {
  z-index: 1; /* Убедитесь, что стрелки находятся поверх изображений */
  width: 40px; /* Размер стрелок */
  height: 40px;
}

.slick-prev {
  left: 0; /* Расположите стрелку слева от изображения */
}

.slick-next {
  right: 0; /* Расположите стрелку справа от изображения */
}

.section-title span {
  color: var(--first-color);
}