.footer {
  background-color: var(--third-color);
  padding: 20px 0 30px;
  position: relative;
  overflow: hidden;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info{
  
}

.footer__copyright {
  color: var(--fourth-color);
}

.footer-span {
  color: var(--first-color);
}

.footer__year {
  margin-top: 5px;
  color: var(--first-color);
}

.test-section {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 393px) {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__info {
    text-align: center;
  }

  .footer__copyright {
    font-size: 13px;
    margin-top: 20px;
  }
}