.footer {
  background-color: var(--third-color);
  padding: 20px 0 30px;

}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.footer__copyright {
  color: var(--fourth-color);
}

.footer-span {
  color: var(--first-color);
}

.footer__year {
  margin-top: 5px;
  color: var(--first-color);
}

@media (max-width: 353px) {
  .footer__copyright {
    font-size: 13px;
  }
}