@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  background-color: var(--background);
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  /* --container-width: 1270px; */
  --container-width: 1150px;
  --container-padding: 15px;

  /* Colors */

  --background: #ebebeb;

  --first-color: #b08e6a;
  --second-color: #999999;
  --third-color: #232323;
  --fourth-color: #ebebeb;

  --text-color: #ebebeb;

  --toggle-color: #cbcbcb;
  --third-color-hover: #8b7156;

  --modal-color: #f5f3f3;
  --modal-text: #2d2d2d;
  --modal-background: #ebebeb;

  --feedback-bg-color: #2d2d2d;
  --input-color: #2d2d2d ;
  --btn-color: #b08e6a;
  --btn-hover-color: #947859;
  --orange: #ff7c4e;

  --tab-background: #2d2d2d;
  --tab-color: #fff;
}

/* Dark theme */
[data-theme='dark'] {
  --background-color: #131c13;
  
  --text-color: #ebebeb;

  --second-color: #ebebeb;
  --third-color: #f8f8f8;
  --fourth-color: #2d2d2d;



  --modal-color: #1a2c27;
  --modal-text: #ebebeb;
  --modal-background: #121212;

  --feedback-bg-color: #1a2c27;


  --tab-background: #2d2d2d;
  --tab-color: #fff;
}


.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}



/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
  color: var(--first-color);
	cursor: pointer;
  background-color: transparent !important;
}

legend {
	display: block;
}

/* Scroll-Buttons */

.scroll-to-top {
  background-color: #fff !important;
  box-shadow: #2d2d2d 0px 0px 10px !important;
  border-radius: 50% !important;

  right: 40px !important;
  bottom: 240px !important;
  position: fixed !important;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
}

.icon-buttons {
  position: fixed;
  bottom: 240px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

.icon-buttons.visible {
  opacity: 1;
  visibility: visible;
}

.icon-button {
  /* background-color: #fff; */
  /* box-shadow: #2d2d2d 0px 0px 10px; */


  color: var(--third-color);
  border-radius: 50vh;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon-button:hover {
  transform: scale(1.1);
  background-color: #f0f0f086;
}

.icon-button.bold {
  font-weight: bold;
}

.slick-dots li.slick-active button:before {
  color: var(--third-color) !important;
}

.slick-dots li button:before {
  color: var(--third-color-hover) !important;
}

.slick-prev, .slick-next {
  width: unset !important;
}

.slick-prev:before, .slick-next:before {
  color: var(--third-color) !important;
  /* font-size: 30px; */
}